
import { LazyNuxtLoadingIndicator } from './.nuxt/components';

<template>
  <div class="min-h-screen w-screen bg-slate-900 text-white">

    <NuxtLayout>
      
      <LazyNuxtLoadingIndicator />
      <NuxtPage />
    </NuxtLayout>

  </div>
</template>
