<template>
  <div>
      <div class="text-3x1 font-bold">Illustravibes</div>
      <div class="text-sm font-light font-poppins flex space-x-4">
        <NuxtLink class="hover:text-blue-500 hover:underline" to="/">Home</NuxtLink>
        <NuxtLink class="hover:text-blue-500 hover:underline" :to="{ name: 'about' }">About</NuxtLink>
        <NuxtLink class="hover:text-blue-500 hover:underline" :to="{ name: 'contact' }">Contact</NuxtLink>
      </div>
    </div>
  </template>
  